<!DOCTYPE html>
<html>
<head>
	<title>Formulario de registro</title>
</head>
<body>
	<h2>Ingrese sus datos:</h2>
	<form method="post" action="{% url 'fin' %}">
		{% csrf_token %}
		<label for="nit">NIT:</label>
		<input type="text" id="nit" name="nit"><br><br>
		<label for="nombre">Nombre:</label>
		<input type="text" id="nombre" name="nombre"><br><br>
		<label for="correo">Correo:</label>
		<input type="email" id="correo" name="correo"><br><br>
		<input type="submit" value="Confirmar pago">
        <input type="button" value="Limpiar" onclick="this.form.reset()">
		<input type="hidden" name="top" value="{{ top }}">
		<input type="hidden" name="precio_top" value="{{ precio_top }}">

        <input type="hidden" name="tipo" value="{{ tipo }}">
        <input type="hidden" name="tamano" value="{{ tamano }}">
        <input type="hidden" name="precio" value="{{ precio }}">
        <input type="hidden" name="sabor" value="{{ sabor }}">

	</form>
</body>
</html>